{% extends 'base.html' %}
{% block content %}
<h2>{% if product %}Edit{% else %}Add{% endif %} Product</h2>
<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required value="{{ product.name if product }}">
    </div>
    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" class="form-control" id="stock" name="stock" required value="{{ product.stock if product }}">
    </div>
    <div class="form-group">
        <label for="min_threshold">Min Threshold</label>
        <input type="number" class="form-control" id="min_threshold" name="min_threshold" required value="{{ product.min_threshold if product }}">
    </div>
    <button type="submit" class="btn btn-success">{% if product %}Update{% else %}Add{% endif %}</button>
</form>
{% endblock %}